<% @sum = 0 %>
<% @quantity = 0  %>
<div class="container"><br>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Your Cart</h4>
    </div>
    <div class='panel-body'>
      <ol>
      <% if @cart.any? %>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-3">
            <h4>Product</h4>
          </div>
          <div class="col-md-2">
            <h4>Price</h4>
          </div>
          <div class="col-md-2">
            <h4>Quantity</h4>
          </div>
        </div><hr></ol>
        <ol>
          <% @cart.each do |product| %>
            <% @sum += product.price %>
                <div class="row">
                  <li>
                  <div class="col-md-1">
                    <a href = "#" class = "thumbnail">
                      <%= image_tag(product.image) %>
                    </a>
                  </div>
                  <div class="col-md-3">
                    <%= product.title %>
                  </div>
                  <div class="col-md-2">
                    € <%= product.price %>
                  </div>
                  <div class="col-md-2">
                    1
                  </div>
                  <div class="col-md-1">
                    <%= link_to "", cart_path(product), method: :delete, data: {confirm: "Are you sure?"}, class:"glyphicon glyphicon-remove" %>
                  </div>
                </li>
              </div>
          <% end %>
        </ol>
        <hr>
        <p class="col-xs-2">Total price: €<%= @sum %></p>
      <% else %>
        <p>Your cart is still empty</p>
      <% end %>
      </div>
  </div>
  <%= link_to "Go back to all products", products_path, class: "btn btn-default" %>
</div>
