<div class="container-fluid">
  <h1 class="text-center">All Books</h1>
</div>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
          Sort by
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to "Sort A-Z", products_path(sort_by: "Sort A-Z") %></li>
          <li><%= link_to "Sort Z-A", products_path(sort_by: "Sort Z-A") %></li>
          <li><%= link_to "Price low-high", products_path(sort_by: "Price low-high") %></li>
          <li><%= link_to "Price high-low", products_path(sort_by: "Price high-low") %></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-4">
      <%= form_tag(products_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Products", style: ("width:270px") %>
      <%= submit_tag "Search" %>
      <% end %>
    </div>
  </div>
  <br><br>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-3">
        <%= image_tag product.image, :class => "img-thumbnail" %>
        <h5 class="text-center"><%= link_to product.title, product %></h5>
        <h5 class="text-center">price: $<%= product.price %></h5>
        <% if user_signed_in? %>
          <h4 class="text-center"><%= link_to "", new_product_cart_path(product), class:"glyphicon glyphicon-shopping-cart"%></h4>
        <% end %>
      </div>
      <% end %>
    <br>
  </div>
</div>
