<div class = "container-fluid"><br>
  <h2 class="text-center"><%= @product.title %> - by <%= @product.author %></h2>
</div>
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-xs-5 text-right">
      <%= image_tag @product.image, class: "img-thumbnail" %>
    </div>
    <div class="col-xs-6">
      <h3>Book details</h3>
      <hr>
      <h5>Title:  <%= @product.title %></h5>
      <h5>Author: <%= @product.author %></h5>
      <h5>Price: €<%= @product.price %></h5>
      <h5>Description: <%= @product.description %></h5>
      <br>
      <% if user_signed_in? && current_user.has_profile? %>
        <h5><%= link_to "", new_product_cart_path(@product.id), class:"glyphicon glyphicon-shopping-cart"%> Add this book to your shopping cart </h5>
      <% end %>
    </div>
  </div>
  <br><br>
  <nav class="text-center"><%= link_to "Go back to all products", products_path, class: "btn btn-default" %></nav>
</div>
