<!DOCTYPE html>
<html>
  <head>
    <title>BookStore</title>
		<link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada|Raleway" rel="stylesheet">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'pages/navbar' %>

    <div class="container">
    <% if notice.present? %>
      <p class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        <%= notice %>
      </p>
    <% elsif alert.present? %>
      <p class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <%= alert %>
      </p>
    <% end %>

    <%= yield %>
    <footer class="container">
      <hr>
      <p>Made by us</p>
      <br><br>
    </footer>

  </body>
</html>
